body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
  }
  
  .data-container p {
    margin: 30px 0;
    font-size: 1.2rem;
  }
  
  .data-container span:first-child {
    font-weight: bold;
    margin-right: 15px;
  }
  
  .data-container span {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .data-container p:hover {
    background-color: #eee;
    cursor: pointer;
  }